@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content ul li {
  margin: 1.15rem 0 1.15rem 1.3rem;
  list-style-type: circle;
}

.post-content ol li {
  margin: 1.15rem 0 1.15rem 1.3rem;
  list-style-type: decimal;
}

.post-content a {
  color: #4995c7;
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content pre {
  background-color: #1e293b;
  border: 1px solid rgb(61, 69, 83);
  color: #e8e7e7;
  white-space: pre-wrap;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.post-content ol,
.post-content ul {
  margin-right: 2rem;
}

.post-content code {
  background-color: #ececec;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.dark .post-content code {
  background-color: #1e293b;
  border: 1px solid rgb(61, 69, 83);
}

.dark .post-content a {
  color: red;
}

:root.bg-white {
  background-color: green !important;
}

/* For rtl Flowbite table direction */
.group\/head:first-child .group-first\/head\:last\:rounded-tr-lg:last-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0% !important;
}

.group\/head:first-child .group-first\/head\:first\:rounded-tl-lg:first-child {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0% !important;
}

.group\/body:last-child .group\/row:last-child .group-last\/body\:group-last\/row\:last\:rounded-br-lg:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0% !important;
}

.group\/body:last-child .group\/row:last-child .group-last\/body\:group-last\/row\:first\:rounded-bl-lg:first-child {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0% !important;
}

/* Custom styles for ReactQuill */
.ql-editor {
  font-size: 1.05rem;
  direction: rtl;
  text-align: right;
}

.ql-editor ol,
.ql-editor ul {
  padding-right: 1.5em;
}

.ql-editor li:not(.ql-direction-rtl)::before {
  margin-right: -1.5em;
  margin-left: 0.3em;
  text-align: right;
}

.ql-snow .ql-picker {
  direction: ltr;
}

.dark .ql-container {
  background-color: #1f2937;
  color: #e5e7eb;
  border-color: #4b5563;
}

.dark .ql-toolbar {
  background-color: #374151;
  border-color: #4b5563;
}

.dark .ql-toolbar .ql-picker {
  color: #e5e7eb;
  /* Toolbar dropdown text */
}

.dark .ql-editor {
  color: #e5e7eb;
  /* Editor text color */
}

.dark .ql-blank::before {
  color: #ffffff;
  /* Placeholder color */
}

.dark .ql-snow .ql-stroke {
  stroke: #e5e7eb;
  /* Icons stroke color */
}

.dark .ql-snow .ql-fill {
  fill: #e5e7eb;
  /* Icons fill color */
}

.dark .ql-picker-options {
  background-color: #374151;
}

/* Scrollbar styling */
.dark ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(212, 212, 212, 0.3);
  background-color: #000000;
}

.dark ::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(39, 39, 39);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(89, 89, 89);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
  background-color: #6d6969;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(211, 211, 211);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(193, 193, 193);
  border-radius: 5px;
}

:is([dir=rtl]) select:not([size]) {
  background-position: left 0.25rem center;
  padding-right: 0.75rem;
  padding-left: 1.25rem;
}