@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
  direction: rtl;
  text-align: right;
}

.ql-snow .ql-picker {
  direction: ltr;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

:root.bg-white {
  background-color: green !important;
}

/* For rtl Flowbite table direction */
.group\/head:first-child .group-first\/head\:last\:rounded-tr-lg:last-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0% !important;
}
.group\/head:first-child .group-first\/head\:first\:rounded-tl-lg:first-child {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0% !important;
}
.group\/body:last-child
  .group\/row:last-child
  .group-last\/body\:group-last\/row\:last\:rounded-br-lg:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0% !important;
}
.group\/body:last-child
  .group\/row:last-child
  .group-last\/body\:group-last\/row\:first\:rounded-bl-lg:first-child {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0% !important;
}
